// COLORS
$color-black: #000;
$color-white: #fff;
$color-blue: #0582ff;
$color-blue-lighten-1: #8590a6;
$color-blue-lighten-2: #76839b;
$color-blue-darken-1: #2c3e50;
$color-gray: #e0e0e0;

// MAIN
$main-bg-color: $color-gray;
$main-font-color: $color-blue-darken-1;
